include AUTHORS.md
include CONTRIBUTING.md
include LICENSE
include README.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

# If including data files in the package, add them like:
# include path/to/data_file
include gbpy/tests/data/dump_1
